table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin-left:auto; 
  margin-right:auto;
}

th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
    background-color: #27ae60;

}
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
    background-color: #c3bebb;

}
